<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <!-- call external css  -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <!-- tag a such as method get api in BE -->
        <a href="/">Home</a>
        <a href="/create">Create</a>
        <!-- <a class="active" href="/edit">Edit</a> -->
    </div>


    <div class="form-addNew">
        <!-- method="post" -->
        <!-- <%= JSON.stringify(userEdit) %> -->
        <form action="/delete-user" method="POST">
            <fieldset>
                <legend>Delete users:</legend>
                <div class="input-group d-none">
                    <label for="username">ID:</label>
                    <input type="text" name="id" id="id" placeholder="Enter your Email" value="<%=userEdit.ID %>">
                </div>
                <div class="input-group">
                    <label for="username">Email:</label>
                    <input type="text" name="email" id="email" placeholder="Enter your Email"
                        value="<%=userEdit.EMAIL %>">
                </div>

                <div class="input-group">
                    <button type="submit" class="btn">delete</button>

                </div>
                <br>
            </fieldset>
        </form>

    </div>

</body>

</html>